* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #27193c;
  color: #e4e4e4;
}

section {
  height: 100vh;
  padding: 5rem;
}

section .header {
  font-size: 2rem;
  width: 100%;
  background-color: #15041e;
  padding: 0.5rem;
}

#home {
  background-image: linear-gradient(
      to right bottom,
      #000000,
      #000000a7,
      #4a0461db
    ),
    url(https://hips.hearstapps.com/hmg-prod/images/beautiful-landscape-view-of-fuji-mountain-in-royalty-free-image-1623253648.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#home img {
  border-radius: 34%;
  width: 19rem;
  height: 27rem;
  object-fit: cover;
  border: solid 6px #2f002f45;
}

#home h1 {
  font-size: 50px;
  font-weight: 100;
}

#home h1 span {
  color: #88af5a;
  font-size: 50px;
  font-weight: bold;
}

.details {
  width: 780px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: #11041b75;
  padding: 1rem;
}

#contact {
  background-color: #302048;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 2rem;
}

#education {
  background-color: #27193c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 2rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #11001ae8;
}

nav li {
  float: right;
  text-transform: uppercase;
}

li a {
  display: block;
  color: #e4e4e4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #24273f;
  color: white;
}

.active {
  background-color: #24273f;
  color: white;
}

footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}



@media (max-width: 800px) {
  section {
    height: auto;
    padding: 1rem;
  }

  #home img {
    border-radius: 35%;
    width: 15rem;
    height: 23rem;
    object-fit: cover;
    border: solid 6px #2f002f45;
    margin-top: 3rem;
  }

  .details {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: #11041b75;
    padding: 1rem;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    float: none;
  }

  li a {
    display: block;
    color: #e4e4e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  li a:hover:not(.active) {
    background-color: #24273f;
    color: white;
  }

  .active {
    background-color: #24273f;
    color: white;
  }
}
